---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Snippet from "../components/Snippet.astro";
import Access from "../components/Access.astro";
import Workflow from "../components/Workflow.astro";
import Partner from "../components/Partner.astro";
import Download from "../components/Download.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Clipboarding Landing Page">
  <h1 class="sr-only">Clipboard Landing Page</h1>
  <Hero />
  <Snippet />
  <Access />
  <Workflow />
  <Partner />
  <Download />
  <Footer />
</Layout>
