<section class="container access">
  <h2>Access Clipboard anywhere</h2>
  <p>
    Whether you’re on the go, or at your computer, you can access all your
    Clipboard snippets in a few simple clicks.
  </p>
  <img src="./images/image-devices.png" alt="" />
</section>

<style>
  .access {
    margin-top: 248px;
    text-align: center;

    & h2 {
      font-size: var(--fs-xl);
      letter-spacing: -0.1px;
    }
    & p {
      display: inline-block;
      width: 100%;
      max-width: 725px;
      margin-block: 20px 79px;
      font-size: var(--fs-md);
      letter-spacing: 0.5px;
      line-height: 30px;
    }
    & img {
      margin-top: 21px;
      margin-left: 5px;
    }
  }

  @media (width <= 1069px) {
    .access {
      margin-top: 150px;
    }
  }
</style>
