<section class="container download">
  <h2>Clipboard for iOS and Mac OS</h2>
  <p>
    Available for free on the App Store. Download for Mac or iOS, sync with
    iCloud and you’re ready to start adding to your clipboard.
  </p>
  <div class="download_btn_area">
    <a href="#">Download for iOS</a>
    <a href="#">Download for Mac</a>
  </div>
</section>

<style>
  .download {
    text-align: center;
    margin-top: 159px;

    & h2 {
      font-size: var(--fs-xl);
      letter-spacing: -0.4px;
      margin-top: 60px;
    }
    & p {
      display: inline-block;
      max-width: 720px;
      font-size: 19px;
      letter-spacing: 0.5px;
      line-height: 29px;
      margin-top: 20px;
    }
  }
</style>
