<main class="hero">
  <div class="container hero_content">
    <img src="/images/logo.svg" alt="Clipboard logo" />
    <h2>A history of everything you copy</h2>
    <p>
      Clipboard allows you to track and organize everything you copy. Instantly
      access your clipboard on all your devices.
    </p>
    <div class="download_btn_area">
      <a href="#">Download for iOS</a>
      <a href="#">Download for Mac</a>
    </div>
  </div>
</main>

<style>
  .hero {
    background-image: url(/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .hero_content {
    text-align: center;
    padding-top: 131px;
    & img {
      margin-right: -2px;
    }
    & h2 {
      font-size: var(--fs-2xl);
      letter-spacing: -0.7px;
      margin-top: 52px;
    }
    & p {
      display: inline-block;
      width: 100%;
      max-width: 720px;
      font-size: 19px;
      letter-spacing: 0.5px;
      line-height: 29px;
      margin-top: 17px;
    }
  }
  @media (width <= 915px) {
    .hero {
      background-image: url(/images/bg-header-mobile.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center -200px;
    }
  }
</style>
