<section class="container partner" id="fade-in-right">
  <img 
    src="/images/logo-google.png" 
    alt="Google logo" 
    loading="lazy" 
  />
  <img 
    src="/images/logo-ibm.png" 
    alt="Ibm logo" 
    loading="lazy" 
  />
  <img 
    src="/images/logo-microsoft.png" 
    alt="Microsoft logo" 
    loading="lazy" 
  />
  <img 
    src="/images/logo-hp.png" 
    alt="Hewlett packcard logo" 
    loading="lazy" 
  />
  <img
    src="/images/logo-vector-graphics.png"
    alt="Vector Graphics logo"
    loading="lazy"
  />
</section>

<style>
  .partner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 158px;
  }

  @media (width <= 1069px) {
    .partner {
      flex-direction: column;
      gap: 80px;
    }
  }
</style>
