<section class="container workflow">
  <h2>Supercharge your workflow</h2>
  <p>We’ve got the tools to boost your productivity.</p>
  <div class="workflow_feature_area">
    <article>
      <img src="/images/icon-blacklist.svg" alt="" />
      <h3>Create blacklists</h3>
      <p>
        Ensure sensitive information never makes its way to your clipboard by
        excluding certain sources.
      </p>
    </article>

    <article>
      <img src="/images/icon-text.svg" alt="" />
      <h3>Plain text snippets</h3>
      <p>Remove unwanted formatting from copied text for a consistent look.</p>
    </article>

    <article>
      <img src="/images/icon-preview.svg" alt="" />
      <h3>Sneak preview</h3>
      <p>Quick preview of all snippets on your Clipboard for easy access.</p>
    </article>
  </div>
</section>

<style>
  .workflow {
    text-align: center;
    margin-top: 68px;

    & > h2 {
      font-size: var(--fs-xl);
      letter-spacing: -0.1px;
    }
    & > p {
      display: inline-block;
      width: 100%;
      max-width: 725px;
      margin-block: 20px 73px;
      font-size: var(--fs-md);
      letter-spacing: 0.5px;
      line-height: 30px;
    }
  }

  .workflow_feature_area {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, minmax(200px, 360px));

    & article {
      & h3 {
        font-size: var(--fs-lg);
        letter-spacing: -0.5px;
      }
      &:nth-child(1) h3 {
        margin-top: 34px;
      }
      &:nth-child(2) h3 {
        margin-top: 42px;
      }
      &:nth-child(3) h3 {
        margin-top: 42px;
      }
      & p {
        margin-top: 16px;
        letter-spacing: 0.5px;
        line-height: 30px;
      }
    }
  }

  @media (width <= 1069px) {
    .workflow_feature_area {
      gap: 50px;
      grid-template-columns: 1fr;
    }
  }
</style>
